@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animation';
@import 'base/typography';
@import 'base/utilities';

@import 'pages/home';

$color-light-gold:  #FFD700;
$color-medium-gold:  #bea309;
$color-dark-gold: #7f6d05;

$color-primary: #7ED56F;
$color-primary-light:  #55C57A;
$color-primary-dark:  #28B485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: #777;
  padding: 30px;
};

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8)), url(../assets/boxing.png);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
};

.logo-box {
 position: absolute;
 top: 40px;
 left: 40px;
};

.logo {
 height: 50px;
 border-radius: 10px;
 border: 2px solid white;
};

.text-box {
  text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
};

.heading-primary{
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;

  backface-visibility: hidden;
};

.heading-primary-main {
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 10px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
};

.heading-primary-sub {
  display: block;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 5px;

  animation: moveInRight 1s ease-in;
};

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%)
  };

  60% {
    transform: rotate(120deg);
  }

  80% {
    transform: translateX(10px);
  };

  100% {
   opacity: 1;
   transform: translate(0);
  }
};

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100%)
  };

  80% {
    transform: translateX(-10px);
  };

  100% {
   opacity: 1;
   transform: translate(0);
  }
};

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  };

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
   text-decoration: none;
   padding: 5px 10px;
   display: inline-block;
   border-radius: 15px;
   transition: all .2s;
   position: relative;
};

.btn-white {
   background-color: white;
   color: #777;
   font-size: 25px;
};

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
};

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
};

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
};

.btn-white::after{
  background-color: #fff;
};

.btn:hover::after{
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
};

.btn-animated {
  animation: moveBottom .5s ease-in .75s;
  animation-fill-mode: backwards;
}

