@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animation';
@import 'base/typography';
@import 'base/utilities';

@import 'pages/home';

$color-light-gold:  #FFD700;
$color-medium-gold:  #bea309;
$color-dark-gold: #7f6d05;

$color-primary: #7ED56F;
$color-primary-light:  #55C57A;
$color-primary-dark:  #28B485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: #777;
  padding: 30px;
};

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8)), url(../assets/boxing.png);
  background-size: cover;
  background-position: top;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
};

.logo-box {
 position: absolute;
 top: 40px;
 left: 40px;
};

.logo {
 height: 50px;
 border-radius: 10px;
 border: 2px solid white;
};

.text-box {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
};

.heading-primary{
  color: white;
  text-transform: uppercase;
  text-align: center;
};

.heading-primary-main {
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 10px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
};

.heading-primary-sub {
  display: block;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 5px;

  animation: moveInRight 1s ease-in;
};

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%)
  };

  80% {
    transform: translateX(10px);
  };

  100% {
   opacity: 1;
   transform: translate(0);
  }
};

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100%)
  };

  80% {
    transform: translateX(-10px);
  };

  100% {
   opacity: 1;
   transform: translate(0);
  }
}

