.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.5rem;

    @include respond(phone){
      width: 80%;
    }

    &--p1 {
      top: 2rem;
      left: 0;

      @include respond(phone){
        top: 10rem;
      }

      @include respond(small-phone){
        top: -6rem;
        left: 4rem;
      }
    }

    &--p2 {
      top: 9rem;
      right: 0;

      @include respond(phone){
        top: 15rem;
      }

      @include respond(small-phone){
        top: 5rem;
        left: -1rem;
      }
    }

    &--p3 {
      top: 15rem;
      left: 11%;

      @include respond(phone){
        top: 25rem;
        left: 1rem;
      }

      @include respond(small-phone){
        top: 0rem;
        left: 7rem;
      }
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
