.footer {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #151414;
  color: $color-white;

  @include respond(phone) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @include respond(small-phone) {
    padding: 3rem 2rem;
  }

  @include respond(extra-small-phone) {
    padding: 3rem 2rem;
  }

  .contact-info {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      align-items: flex-start;
      margin: 0 auto;
      margin-bottom: 4rem;
    }

    @include respond(extra-small-phone) {
      align-items: flex-start;
    }
  }

  .contact-item {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-right: 5rem;
    margin-bottom: 2rem;

    i {
      margin-right: 1rem;
    }
  }
}

.contact-icons {
  .contact-icon {
    display: flex;
    flex-direction: row;

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-grey-dark-3;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin: 0.6rem;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: $color-primary;
      }

      i {
        color: $color-white;
        font-size: 2rem;
      }
    }
  }
}

.footer-widget {
  @include respond(tab-port) {
    max-width: 300px;
    margin-left: 15rem;
  }

  @include respond(phone) {
    margin-left: 10rem;
  }

  @include respond(small-phone) {
    margin-left: 0;
  }

  @include respond(extra-small-phone) {
    margin-left: 0;
  }

  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;

    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
  }

  .footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover {
    color: #ff5e14;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }

  .copy-right {
    margin-top: 3rem;
  }
}
