*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-1;

  // font-size: 16px;
  // font-family: "Lato", sans-serif;
  // font-weight: 500;
  // line-height: 1.7;
  // color: $color-grey-dark-2;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: teko;
  background-color: #f1fbff;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  padding: 30px 0;
  text-align: center;
}

.gallery-header {
  padding-bottom: 30px;
}

// .section-header {
//   text-transform: uppercase;
//   padding-bottom: 30px;
//   font-size: 55px;
//   color: #262626;
//   letter-spacing: 3px;
// };

.content {
  padding: 10%;
}

.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content p {
  line-height: 1.5;
}

.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}

.main-content .box {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: hidden;
}

.main-content .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.main-content .box:hover::before {
  top: 0;
  right: calc(100% - 5px);
  z-index: 8;
}

.main-content .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content .box .img-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all 0.5s ease-in-out;
}

.main-content .box:hover .img-text {
  top: 0;
  right: 0;
};

/*Contact*/
.contact {
  padding: 5rem 0;
  font-family: poppins;
  height: 100%;
  width: 100%;
  background-image: linear-gradient( to right bottom, rgba(56, 70, 77, 0.25), rgba(56, 70, 77, 0.55) )
};

.form-area {
  margin-top: 4rem;
  display: grid;
  place-items: center;
  height: 100%;
};

.wrapper-2 {
  width: 400px;
  height: 500px;
  color: $color-white;
  padding: 50px 30px;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
   position: relative;
};

.wrapper-2::before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.wrapper-2 p {
  padding: 0;
  margin: 0;
  font-weight: bold;
};

.wrapper-2 input {
  border: none;
  border-bottom: 1px solid $color-white;
  background: transparent;
  outline: none;
  height: 40px;
  color: $color-white;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
};

textarea {
  border: none;
  border-bottom: 1px solid $color-white;
  background: transparent;
  outline: none;
  height: 80px;
  color: $color-white;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
};

.wrapper-2 button {
  display: block;
  border: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: $color-white;
  margin-top: 15px;
  padding: 10px;
  background: deepskyblue;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
