body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: $color-grey-dark-2;
  padding: 10px;
};

.heading__primary{
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 20px;

  backface-visibility: hidden;

  &--main{
    display: block;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 10px;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  &--sub {
    display: block;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 5px;
  
    animation: moveInRight 1s ease-in;
  }
};

.heading-secondary {
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  background-clip: text;
  margin-bottom: 3rem;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  letter-spacing: .1rem;
  transition: all .2s;

  &:hover {
   transform: skewY(2deg) skewX(16deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
}

.heading-tertiary {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
};

.paragraph {
  font-size: 1.1rem;


  &:not(:last-child){
    margin-bottom: 3rem;
  }
};

.contact__header {
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  letter-spacing: .1rem;
  transition: all .2s;

  &:hover {
   transform: skewY(2deg) skewX(16deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
}
