.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 60px;
  border-radius: 7px;

  @include respond(small-phone){
    top: 20px;
    left: 20px;
  }
}

.logo {
  width: 100%;
  border-radius: 7px;
  border: 2px solid $color-primary-dark;
};

.u-center-text { text-align: center; };

.u-margin-bottom-small{ margin-bottom: 1.5rem };
.u-margin-bottom-medium { margin-bottom: 4rem };
.u-margin-bottom-big { margin-bottom: 8rem; };