.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 60px;
  border-radius: 7px;

  @include respond(small-phone){
    top: 20px;
    left: 20px;
  }
}

.logo {
  width: 100%;
  border-radius: 7px;
  border: 2px solid $color-primary-dark;
};

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: $color-white;
  color: $color-grey-dark-2;
  padding: 10px 20px;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.7s;
  animation-fill-mode: backwards;
};

.u-center-text {
  text-align: center;
}