.thank {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, $color-light-gold, $color-dark-gold, 0.8);

  &__you--h1 {
    font-weight: bold;
    color: $color-grey-dark-2;
  }
}