.about{
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  background-size: cover;
  text-align: center;
  position: relative;
};