* {
  box-sizing: border-box;
}

.contact__section {
  margin: 0;
  padding: 0;
  font-family: poppins;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  // background-image: url("https://c4.wallpaperflare.com/wallpaper/531/859/597/mountains-red-sun-dark-sunset-sun-hd-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
};

.form-area {
  display: grid;
  place-items: center;
  height: 100vh;
};

.wrapper {
  width: 400px;
  height: 500px;
  color: #fff;
  padding: 50px 30px;
  box-shadow: 0 0  1rem rgba(0,0,0,0.2);
  position: relative;
};

.wrapper::before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255,255,255,0.5);
  filter: blur(2px);
};

.wrapper p {
  margin: 0;
  padding: 0;
  font-weight: bold;
};

.wrapper input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
};

textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 50px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
};

.wrapper a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  background: deepskyblue;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}