* {
  box-sizing: border-box;
}

.contact-section{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
};

.form-area {
  display: grid;
  place-items: center;
  height: 100vh;
};

.wrapper {
  width: 400px;
  height: 500px;
  padding: 50px 30px;
  color: $color-white;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
  position: relative;
};

.wrapper p {
  margin: 0;
  padding: 0;
   font-weight: bold;
};

.wrapper input {
  border: none;
  border-bottom: 1px solid $color-white;
  background: transparent;
  outline: none;
  height: 40px;
  color: $color-white;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
};



