* {
  box-sizing: border-box;
}

.contact__section {
  margin: 0;
  padding: 0;
  font-family: poppins;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  // background-image: url("https://c4.wallpaperflare.com/wallpaper/531/859/597/mountains-red-sun-dark-sunset-sun-hd-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
};
