.gallery {
  background-color: $color-grey-light-1;

  &__container {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-white;
    width: 94%;
    padding: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin: 0px auto;
  }

  &__item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    margin: 2px;
    opacity: 0.85;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*lightbox*/
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.lightbox-content {
  position: relative;
  width: 65%;
  height: 58%;
  margin: 5% auto;
  margin-top: 100px;
}

.lightbox-content img {
  width: 100%;
  height: 100%;
  border: 6px solid $color-white;
  object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: $color-white;
  padding: 9px;
  top: 45%;
  cursor: pointer;
}

.lightbox-prev {
  left: 0;
}

.lightbox-next {
  right: 0;
}

/*Make it responsive*/
@media (max-width: 767px) {
  .gallery__container {
    width: 100%;
  }

  .gallery__item {
    flex-basis: 49.80%;
    margin-bottom: 3px;
  }

  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
}

@media (max-width: 600px) {
  .gallery__item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }

  .lightbox-content {
    width: 90%;
    margin: 20px auto;
  }
}
