.gallery {
  width: 100%;
  padding: 5rem 2rem;
  text-align: center;

  &__secondary {
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-light-gold, 0.8),
      rgba($color-medium-gold, 0.8),
      rgba($color-dark-gold, 0.8)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);
    letter-spacing: 0.1rem;
    transition: all 0.2s;
    font-size: 2.5rem;

    &:hover {
      transform: skewY(2deg) skewX(16deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.5);
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }
}

.gallery img {
  border-radius: 20px;
  transition: 1s;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 1px solid rgba($color-black, 0.413);
  width: 320px;
  object-fit: cover;
  height: 35vh;

  @include respond(phone) {
    width: 100%;
  }
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
