.gallery-h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 50px;
}

.gallery {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
};

.gallery img {
  border-radius: 20px;
  transition: 1s;
   margin: 10px;
   border: 1px solid rgba($color-black, 0.413);
   width: 320px;
   object-fit: cover;
   height: 35vh;
};

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
};