.row {
  max-width: $grid-width;
  height: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 15rem;
  margin: 0 auto;

  @include respond(tab-port){
    padding-bottom: $gutter-vertical;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);

    @include respond(phone){
      width: 100%;
    }
  }
}
