.learn__more--section{
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: $color-grey-light-1;
};

@media screen and (max-width: 600px){
  .learn__more--section {
    padding: 3rem;
    padding-left: 0;
    padding-right: 0;
  }
}

#learn__more--pro {
  text-align: center;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  letter-spacing: .1rem;
  transition: all .2s;

  &:hover {
   transform: skewY(2deg) skewX(16deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
};

#learn__more--ama {
  text-align: center;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to right bottom, rgba($color-light-gold, 0.8), rgba($color-medium-gold, 0.8), rgba($color-dark-gold, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  letter-spacing: .1rem;
  transition: all .2s;

  &:hover {
   transform: skewY(2deg) skewX(16deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
}

 .u-margin-right {
  margin-right: 3rem;
 };

 @media screen and (max-width: 600px){
  .u-margin-right {
    margin-right: 0;
  }
}

 .learn__p--two {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: .1rem;
 };

 .learn__p--three {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
 };

 .u-margin-left {
  margin-left: 3rem;
 }

 @media screen and (max-width: 600px){
  .u-margin-left {
    margin-left: 0;
  }
}

 .learn__img {
  width: 300px;
  object-fit: cover;
  border-radius: 1rem;
 };

 @media screen and (max-width: 600px){
  .learn__img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

 .learn__img:hover {
  box-shadow: 6px 14px 26px 3px rgba(0,0,0,0.55);
  -webkit-box-shadow: 6px 14px 26px 3px rgba(0,0,0,0.55);
  -moz-box-shadow: 6px 14px 26px 3px rgba(0,0,0,0.55);
 }

 .learn__two--box{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
};

@media screen and (max-width: 600px){
  .learn__two--box {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}

.learn__three--box{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
};

@media screen and (max-width: 600px){
  .learn__three--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}



